<a href="https://colab.research.google.com/github/vianaerica/covidPy/blob/master/covidPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
pd.read_csv('covid19mg.csv', sep=',', encoding='latin-1')

      ;ID;CONTADOR;DATA_NOTIFICACAO;CLASSIFICACAO_CASO;SEXO;IDADE;FAIXA_ETARIA;MUNICIPIO_RESIDENCIA_COD;MUNICIPIO_RESIDENCIA;COMORBIDADE;EVOLUCAO;INTERNACAO;UTI;DATA_ATUALIZACAO
0      1;1;296297;04/03/2020;Caso Confirmado;Feminino...
1      2;2;296298;07/03/2020;Caso Confirmado;Feminino...
2      3;3;296299;14/03/2020;Caso Confirmado;Masculin...
3      4;4;296300;14/03/2020;Caso Confirmado;Feminino...
4      5;5;296301;16/03/2020;Caso Confirmado;Masculin...
...                                                  ...
32764  32765;35434;329061;24/06/2020;Caso Confirmado;...
32765  32766;35434;329062;23/06/2020;Caso Confirmado;...
32766  32767;35435;329063;18/06/2020;Caso Confirmado;...
32767  32768;35435;329064;14/06/2020;Caso Confirmado;...
32768  32769;35436;329065;23/06/2020;Caso Confirmado;...

[32769 rows x 1 columns]